<!DOCTYPE html>
<html>
<head>
<meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
<title>EaselJS Example: Using BitmapAnimation Objects</title>

<script type="text/javascript" src="/javascripts/easeljs-0.4.2.min.js"></script>
<script type="text/javascript" src="/javascripts/enemy.js"></script>
<script type="text/javascript" src="/javascripts/player.js"></script>
<style>
  body{
    background-color: "#D3D3D3";
  }
</style>
<!-- We also provide hosted minified versions of all CreateJS libraries.
http://code.createjs.com -->
<script>
var stage;
var canvas;
var list = [];
window.onload = function()
{
  canvas = document.getElementById("canvas"); // canvas要素を取得
  stage = new Stage(canvas); // Stageにセットする

  for(i=0;i<200;i++){
    e = new Enemy();
    if(Math.random() > 0.5){
      e.x = canvas.offsetWidth - 500;
    }else{
      e.x = canvas.offsetWidth + 500;
    }

    e.y = Math.random() * canvas.offsetHeight;
    list.push(e);
  }

  for(i=0; i<list.length; i++){
    stage.addChild(list[i]);
  }

  Ticker.addListener(window); // window.tick()を40FPSで呼び出す
  Ticker.setFPS(30);
}

function tick(){
  for(i=0; i< list.length; i++){
    c = list[i];
    if(Math.random() > 0.5)
    {
       c.x += Math.random() * 5;
       c.y -= Math.random() * 5;
    }else{
      c.x -= Math.random() * 5;
      c.y -= Math.random() * 5;
    }
    if(c.y < 0){
      c.y = 600;
    }
  }
  stage.update();
}

</script>  
<body style="background-color: black">
  <h2 style="margin-top: 40%;margin-left:40%; position: absolute; color:white;z-index:-1;"> I LOVED YOU </h2>
  <h4 style="margin-top: 90%;margin-left:0; position: absolute; color:white;z-index:-1;"> I'LL SEE YOU IN THE NEXT LIFE.... </h2>
  <canvas class="canvasmain" id="canvas" width="1280" height="550">
  </canvas>
</body>
</html>
