<!DOCTYPE HTML>
<html>
<head>
  <meta charset="UTF-8">
  <title>Chatroom</title>
  <link rel="stylesheet" type="text/css" href="/stylesheets/bootstrap-3.1.1/css/bootstrap.min.css">
  <script type="text/javascript"
    src="/javascripts/jquery.min.js"></script>
  <script src="http://localhost:3000/socket.io/socket.io.js"></script>
  <script type="text/javascript">

  var socket = io.connect("http://localhost:3000");
  socket.on("connect");

  socket.on("message", function (message) {
    appendMessage(message.value);
    });

  socket.on("alert", function(){
    alert('仕事中にチャットしてるんじゃねえよ！！！');
  })

  socket.on("blackout", function(message) {
    alert('もう怒ったゾウ！');
    $('body').css({'background' : 'red' });
    alert('終了！！');
    $('#main').remove()
  })

  // サーバーにメッセージを送信する機能
  function sendMessage () {
    var msg = $("input#message").val();
    $("input#message").val("");
    if (msg.length > 0) {
      socket.emit("message", {value:msg})
    }
  }

  function appendMessage (message) {
    $("div#chat-box").append("<div class='msg'>" + message + "</div>");
  }
  </script>
</head>
<body>
  <div class="container">
    <div id="main">
      <h1>sample chat</h1>
      <form action="" method="post" onsubmit="return false;">
        <div class="form-group">
          <input type="text" class="form-control" name="message" id="message" value="" style="width:200px;"/>
        </div>

        <input type="submit" class="btn btn-primary" name="send" id="send" value="送信" onclick="sendMessage();"/>
      </form>
      <br>

      <!-- the Area of showing message from other users. -->
      <div id="chat-box"></div>
      </div>
    </div>
  </div>
</body>
</html>
